body{
    font-family: 'Bona Nova', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}

.name-highlight{
    color: orange;
}
.flexible-containar{
    display: flex;
    margin-bottom: 80px;
}
p{
    text-align: justify;
}
.left{
    width: 55%;
}
.right{
    width: 45%;
}
.half-width{

    padding-left: 5%
}
.half-width img{
    width: 90%;
    padding-top: 5%;
    padding-right: 5%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-right{
    padding: 10%;
    padding-right: 15%;
}

.dream-left{
    padding: 5%;
}
.dream-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.bottom-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;

}

h2{
    font-size: 35px;
}

.exp-right{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

.exp-left{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
